[submodule "code/scripts/leafcutter2"]
	path = code/scripts/leafcutter2
	url = git@github.com:bfairkun/leafcutter2.git
[submodule "code/module_workflows/snakemake-workflow_rna-seq"]
	path = code/module_workflows/snakemake-workflow_rna-seq
	url = git@github.com:bfairkun/snakemake-workflow_rna-seq.git
